.row img{
    position: absolute;
    top: 10px;
    left: 71.5%;
    width: 21px;
}
.row input{
    position: absolute;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    height: 30px;
    width: 20%;
    left: 72.5%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.row button{
    position: absolute;
    border: 1px solid grey;
    border-radius: 8px;
    display: inline-block;
    margin: 5px ;
    left: 93%;
    padding: 3px 6px 3px 6px;
    color: #ffffff;
    background: rgb(126, 126, 126);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px
}

